@model CategoryCreateVM

@{
    ViewData["Title"] = "Create";
}

<div class="container my-4">
    <form method="post" asp-action="Create">
        <input asp-for=Name class="form-control" placeholder="Enter category name"/>
        <span class="text-danger d-block" asp-validation-for="Name"></span>
        <button type="submit" class="btn btn-success mt-3">Create</button>
        <a class="btn btn-primary mt-3" asp-action="Index">Back</a>
    </form>
</div>