@model List<SliderDetail>

@{
    ViewData["Title"] = "Index";
}

<div class="container my-5">
    <h1 class="text-center">Slider Detail</h1>
    <a class="btn btn-success my-4" asp-action="Create">Create</a>
    <div class="bg-light rounded h-100 p-4">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" style="width:250px">Title</th>
                    <th scope="col" style="width:400px">Description</th>
                    <th scope="col">Sign Image</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Description</td>
                        <td><img src="~/img/@item.SignImage" style="width:150px"/></td>
                        <td style="display: flex;flex-direction: column;justify-content: space-between;align-items: center;height:140px">
                            <a class="btn btn-primary">Detail</a>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning mx-3">Edit</a>
                            <form method="post" asp-action="Delete" asp-route-id="@item.Id" class="d-inline">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>